
<div class="m-4">
    <form [formGroup]="myForm" novalidate>
        <h4 class="font-medium leading-tight text-2xl mt-0 mb-2 text-purple-600">Change Password</h4>      <!-- Old Password -->
      <div class=" w-4/6 mb-2">
        <label class="center-block">Old Password:
          <input
          formControlName="oldPassword"
          type="password"
          class="form-control block w-full px-4 py-2 text-gray-700  font-normal   bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          id="exampleFormControlInput5"
          placeholder="Old Password"
        />
    
      </label>
      <div *ngIf="myForm.controls['password'].invalid && (myForm.controls['password'].dirty || myForm.controls['password'].touched)" class="alert">
        <div *ngIf="myForm.controls['password'].errors?.required">
        Please enter your password 
      </div>
    </div>
    
      </div>
        <!-- New password -->
        <div class="mb-2  w-4/6">
          <label class="center-block">New Password:
            <input
            formControlName="password"
            type="password"
            class="form-control block w-full px-4 py-2 text-gray-700  font-normal   bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            id="exampleFormControlInput5"
            placeholder="New Password"
          />
      
        </label>
        <div *ngIf="myForm.controls['password'].invalid && (myForm.controls['password'].dirty || myForm.controls['password'].touched)" class="alert">
          <div *ngIf="myForm.controls['password'].errors?.required">
          Please enter your password 
        </div>
      </div>
      
        </div>
        <div class="mb-2  w-4/6">
          
          <label class="center-block"> Confirm New Password:
            <input
            formControlName="confirmPassword"
            type="password"
            
            class="form-control block w-full px-4 py-2 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            id="exampleFormControlInput9"
            placeholder="Confirm Password"
            [(ngModel)]="confirmPassword"
          
              (input)="checkPasswordsmatch()"
           
          />
      
        </label>
        <div *ngIf="myForm.controls['confirmPassword'].invalid && (myForm.controls['confirmPassword'].dirty || myForm.controls['confirmPassword'].touched)" class="alert">
            <div *ngIf="myForm.controls['confirmPassword'].errors?.required">
            Please re-enter your password to confirm it
          </div>
        </div>
        <div *ngIf="!bothPasswordsMatch"  class="alert">
         The two passwords don't match
        </div>
        </div>
      </form>
      <form>
        
            
       
      
      
     
           <div class="text-center ">
            <button mat-flat-button color="primary" class=" bg-purple-500 inline-block px-7 py-3  font-medium text-sm leading-snug uppercase rounded ">
              <span class="text-white">
               Change Password
          </span>
      </button>
          
          </div> 
       
        </form>
</div>
