<section class="h-screen">


<h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 ">Log In</h1>
<mat-tab-group animationDuration="500ms">
  <mat-tab label="Using OTP">
    <div class="flex w-full justify-center items-end">
      <div class="relative mr-4 lg:w-full xl:w-1/2 w-2/4 md:w-full text-left" style="width: 75%;">
        <label for="hero-field" class="leading-7 text-sm ">Enter your mobile number</label>
        <input type="tel" id="hero-field" name="hero-field" placeholder="Mobile Number" class="w-full  bg-opacity-50 rounded focus:ring-2  focus:bg-transparent border  focus:border-indigo-500 text-base outline-none  py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>
      <button mat-flat-button color="primary" class="text-white" *ngIf="!otpFieldEnabled" (click)="sendOtp()">
        
        <span>Send OTP</span> </button>
        <button mat-flat-button color="primary" class=" text-white" *ngIf="otpFieldEnabled"  (click)="sendOtp()">
        
          <span>Resend OTP</span> </button>
      <!-- <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button> -->
    </div>
    <div class="flex justify-center mt-12" *ngIf="otpFieldEnabled">
      <div>
     
        <div class="form-floating mb-3 xl:w-96 text-center">
          <h3 class="sm:text-3xl text-2xl font-medium title-font mb-2 ">You will get an OTP via SMS</h3>
    
          <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="config" ></ng-otp-input>
        </div>
      </div>
    </div>

    
   
 </mat-tab>
  <mat-tab label="Using Password"><form>
 
    <!-- <div class="flex flex-row items-center justify-center lg:justify-start">
      <p class="text-lg mb-0 mr-4">Log In</p>
   
    </div> -->

  
    <!-- Email input -->
    <div class="relative mb-4">
        <label for="full-name" class="leading-7 text-sm ">Mobile Number/Email ID </label>
        <input type="text" id="full-name" name="full-name" placeholder="Email address or Registered Mobile Number" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>
      <div class="relative mb-4">
        <label for="full-name" class="leading-7 text-sm ">Password </label>
        <input type="password" id="full-name" name="full-name"  placeholder="Password" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>


    <div class="flex justify-between items-center mb-6">
      <div class="form-group form-check">
        <input
          type="checkbox"
          class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-purple-600 checked:border-purple-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
          id="exampleCheck2"
        />
        <label class="form-check-label inline-block " for="exampleCheck2"
          >Log In with OTP</label
        >
      </div>
      <a  routerLink="/signUp/reset" class="">Forgot password?</a>
    </div>

    <div class="text-center lg:text-left mb-4">
      <button mat-flat-button color="primary" class="w-3/5 inline-block px-7 py-3  text-white font-medium text-sm leading-snug uppercase rounded shadow-md  hover:shadow-lg  focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out">
        <span class="text-white">
          Login
    </span>
</button>
     
    
    </div>
    <p class="float-right text-sm font-semibold mt-2 pt-1 mb-0" >
      Don't have an account?
      <a 
      routerLink="/signUp/register"
        class="text-red-600 hover:text-red-700 focus:text-red-700 transition duration-200 ease-in-out"
        >Register</a
      >
    
    </p>
  </form></mat-tab>
 
</mat-tab-group>
</section>